.birth {
  background: #333333;
  color: #fff;
  padding: 30px 0 0 0;
  .pawn {
    padding: 40px 0 100px 0;
    img {
      width: 194.545px;
      height: 250px;
    }
  }
  h3 {
    color: #d39cc6;
  }
}
