<div class="birth">
  <div id="1994" class="wrap" data-year="1994">
    <div class="pawn">
      <img src="http://4vector.com/i/free-vector-chess-white-pawn-piece-clip-art_105063_Chess_White_Pawn_Piece_clip_art_hight.png">
    </div>
    <h4>Chicago, IL</h4>
    <h3>1994</h3>
    <h2>A coding entrprenuer, champion chess player and sports fanatic was born</h2>
  </div>
</div>
